<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Language bar</title>


</head>
<body>

<h3>Language bar</h3>
<br>

<div>
    <span>
<!--        <span><button type="button" th:href="{engest}"> "Continue to english-russian" </button></span>-->
<!--         <input type="button" a th:href="@{engest}" value="Continue to english-estonian" />-->
          <p><input type="button" a href="/ingest" title="page" value="Continue to english-estonian"></inputa></p>
<!--       <a href="engest.html"/>-->

    </span>
</div>
<br>
<div>
    <span><button type="button" th:href="@{/index/engrus}" value="Continue to english-russian"> </button></span>
</div>
<br>
<div>
    <span><input type="button" th:href="@{/index/esting}" value="Continue to estonian-english" /></span>
</div>
<br>
<div>
    <span><input type="button" th:href="@{/index/estrus}" value="Continue to estonian-russian" /></span>
</div>
<br>
<div>
    <span><input type="button" th:href="@{/index/rusing}" value="Continue to russian-english" /></span>
</div>
<br>
<div>
    <span> <input type="button" th:href="@{/index/rusest}" value="Continue to russian-estonian" /></span>
</div>








</body>
</html>