<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All words</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
<div>

    <form th:action="@{/login}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <h3>My words.</h3>
    <table>
        <thead>
        <tr>
            <th>English</th>
            <th>Estonian</th>
            <th>Russian</th>
            <th>Level</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="word: ${words}">
            <td th:text="${word.inEnglish}"/>
            <td th:text="${word.inEstonian}"/>
            <td th:text="${word.inRussian}"/>
            <td th:text="${word.complexity}"/>
            <td><a href=""th:href="@{'/start/'+ ${word.wordId} + '/edit'}">EDIT</a></td>
            <td><a href=""th:href="@{'/start/'+${word.wordId} + '/delete'}">DELETE</a></td>

        </tr>
        </tbody>
    </table>
    <p><a th:href="@{/start/addword}">Add new word</a></p>
</div>

</body>
</html>