<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>All words</title>
</head>
<body>
<div>

    <form th:action="@{/login}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>

    <h3>My words.</h3>
    <table>
        <thead>
        <tr>
            <th>English</th>
            <th>Estonian</th>
            <th>Russian</th>
            <th>Level</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="word: ${words}">
            <td th:text="${word.inEnglish}"/>
            <td th:text="${word.inEstonian}"/>
            <td th:text="${word.inRussian}"/>
            <td th:text="${word.complexity}"/>
            <td><a href=""th:href="@{'/start/'+ ${word.wordId} + '/edit'}">EDIT</a></td>
            <td><a href=""th:href="@{'/start/'+${word.wordId} + '/delete'}">DELETE</a></td>

        </tr>
        </tbody>
    </table>
    <p><a th:href="@{/start/addword}">Add new word</a></p>
</div>

</body>
</html>