<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:form="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Training page</title>
</head>
<body>
	<h3>Training</h3>
	<h2>Select Options</h2>
	<div>
		<form th:action="@{/trainingpage}" th:object="${translationForm}" method="post">
			<label><b>Please translate</b></label>

			<table>
				<thead>
					<tr>
						<th>Estonian</th>
						<th>English</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="word, itemStat : *{words}">
						<td th:text="*{words[__${itemStat.index}__].inEstonian}"autocomplete="off"/>
						<td><input th:field="*{words[__${itemStat.index}__].translation}"autocomplete="off" /></td>
						<input type="hidden" th:field="*{words[__${itemStat.index}__].inEnglish}"autocomplete="off" />
						<input type="hidden" th:field="*{words[__${itemStat.index}__].inEstonian}"autocomplete="off" />
						<input type="hidden" th:field="*{words[__${itemStat.index}__].wordId}"autocomplete="off" />
					</tr>
				</tbody>
			</table>
			<button type="submit">Submit</button>
		</form>

	</div>



</body>
</html>