<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
>
<head>
    <meta charset="UTF-8">
    <title>Training page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
<body>
<h3>Training</h3>
<h2>Select Options</h2>
<div>
    <form th:action="@{/trainingpage}" th:object="${translationForm}" method="post">
        <label><b>Please translate</b></label>

        <table>
            <thead>
            <tr>
                <th th:text="*{fromLanguage}"></th>
                <th th:text="*{toLanguage}"></th>

            </tr>
            </thead>
            <tbody>
            <th:block th:switch="*{fromLanguage}">
                <div th:case="'inEnglish'">
                    <tr th:each="word, itemStat : *{words}">
                        <td th:text="*{words[__${itemStat.index}__].inEnglish}"/>

                        <td><input th:field="*{words[__${itemStat.index}__].translation}" autocomplete="off"/></td>
                        <input type="hidden" th:field="*{words[__${itemStat.index}__].inEnglish}"/>
                        <input type="hidden" th:field="*{words[__${itemStat.index}__].inEstonian}"/>
                        <input type="hidden" th:field="*{words[__${itemStat.index}__].inRussian}"/>
                        <input type="hidden" th:field="*{words[__${itemStat.index}__].wordId}"/>
                    </tr>
                </div>
                <div th:case="'inEstonian'">
                    <tr th:each="word, itemStat : *{words}">
                        <td th:text="*{words[__${itemStat.index}__].inEstonian}"/>
                        <td><input th:field="*{words[__${itemStat.index}__].translation}" autocomplete="off"/></td>
                        <input type="hidden" th:field="*{words[__${itemStat.index}__].inEnglish}"/>
                        <input type="hidden" th:field="*{words[__${itemStat.index}__].inEstonian}"/>
                        <input type="hidden" th:field="*{words[__${itemStat.index}__].inRussian}"/>
                        <input type="hidden" th:field="*{words[__${itemStat.index}__].wordId}"/>
                    </tr>
                </div>
                <div th:case="'inRussian'">
                    <tr th:each="word, itemStat : *{words}">
                        <td th:text="*{words[__${itemStat.index}__].inRussian}"/>
                        <td><input th:field="*{words[__${itemStat.index}__].translation}" autocomplete="off"/></td>
                        <input type="hidden" th:field="*{words[__${itemStat.index}__].inEnglish}"/>
                        <input type="hidden" th:field="*{words[__${itemStat.index}__].inEstonian}"/>
                        <input type="hidden" th:field="*{words[__${itemStat.index}__].inRussian}"/>
                        <input type="hidden" th:field="*{words[__${itemStat.index}__].wordId}"/>
                    </tr>
                </div>
            </th:block>



            </tbody>
        </table>

        <input type="hidden" th:field="*{toLanguage}"/>
        <input type="hidden" th:field="*{fromLanguage}"/>
        <button type="submit">Submit</button>
    </form>

</div>


</body>
</html>