<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Training page</title>
</head>
<body>
<h3>Training</h3>
<h2>Select Options</h2>
<div>
    <form th:action="@{/welcomepage}" th:object="${userSelectionForm}" method="post">
    
        <input th:field="*{complexity}" type="radio" name="complexity" value="EASY" checked> EASY<br>
        <input th:field="*{complexity}" type="radio" name="complexity" value="MEDIUM"> MEDIUM<br>
        <input th:field="*{complexity}" type="radio" name="complexity" value="HARD"> HARD<br>
        <br>
        <select>
            <option value="">--</option>
            <option value="ing_est">english-estonian</option>
            <option value="ing_rus">english-russian</option>
            <option value="est_ing">estonian-english</option>
            <option value="est_rus">estonian-russian</option>
            <option value="rus_eng">russian-english</option>
            <option value="rus_est">russian-estonian</option>
        </select>
        <br>
        <div>
            <br>
            <button type="submit">Submit</button>
        </div>
    </form>
</div>
<br>



</body>
</html>